@model Mvc.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" asp-route-id=@Model.Id method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<a asp-action="Index">Back To List</a>
@*<a asp-action="Edit" asp-route-id=@Model.Id >Save</a>*@